
/* QWidget */

QWidget, QFrame {
	background-color: #1A1A1A;
	color: #fefefe;
	border: none;
	border-color: #4f5b62;
}

QWidget[light=true], QFrame[light=true], QFrame[light=true] QFrame, QWidget[light=true] QFrame {
	background-color: #262626;
}

QWidget[transparent=true] {
	background-color: transparent;
}



/* QWidget - Global Rounded */

QWidget[side='top'] {
	background-color: #262626;
	border-radius: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

QWidget[side='middle'] {
	background-color: #262626;
	border-radius: 0px;
}

QWidget[side='bottom'] {
	background-color: #262626;
	border-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

QWidget[side='all'] {
	background-color: #262626;
	border-radius: 4px;
}

QWidget[side='all-hover'] {
	background-color: #262626;
	border-radius: 4px;
	border: 2px solid transparent;
}

QWidget[side='all-hover']:hover {
	background-color: #303030;
	border-radius: 4px;
	border: 2px solid #8AAEDB;
}



/* QWidget - Transparent */
QWidget[background='transparent'] {
	background-color: transparent;
}



/* QWidget - Rounded */
QWidget[border-radius='4'] {
	border-radius: 4px;
}

QWidget[border-radius='8'] {
	border-radius: 8px;
}

QWidget[border-radius='12'] {
	border-radius: 12px;
}

QWidget[border-radius='16'] {
	border-radius: 16px;
}



/* QWidget - Blue */

QWidget[color='blue']:hover, QWidget[color='blue'] QWidget[color='main']:hover, QWidget[color='blue'][checkable=true][checked=true], QWidget[color='blue'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #0D66D0;
}
QWidget[color='blue'][checkable=true][checked=false]:hover, QWidget[color='blue'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Red */

QWidget[color='red']:hover, QWidget[color='red'] QWidget[color='main']:hover, QWidget[color='red'][checkable=true][checked=true], QWidget[color='red'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #D0150D;
}
QWidget[color='red'][checkable=true][checked=false]:hover, QWidget[color='red'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Green */

QWidget[color='green']:hover, QWidget[color='green'] QWidget[color='main']:hover, QWidget[color='green'][checkable=true][checked=true], QWidget[color='green'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #00BC0C;
}
QWidget[color='green'][checkable=true][checked=false]:hover, QWidget[color='green'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Yellow */

QWidget[color='yellow']:hover, QWidget[color='yellow'] QWidget[color='main']:hover, QWidget[color='yellow'][checkable=true][checked=true], QWidget[color='yellow'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #BC9900;
}
QWidget[color='yellow'][checkable=true][checked=false]:hover, QWidget[color='yellow'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Magenta */

QWidget[color='magenta']:hover, QWidget[color='magenta'] QWidget[color='main']:hover, QWidget[color='magenta'][checkable=true][checked=true], QWidget[color='magenta'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #D00DC9;
}
QWidget[color='magenta'][checkable=true][checked=false]:hover, QWidget[color='magenta'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Cyan */

QWidget[color='cyan']:hover, QWidget[color='cyan'] QWidget[color='main']:hover, QWidget[color='cyan'][checkable=true][checked=true], QWidget[color='cyan'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #009CA8;
}
QWidget[color='cyan'][checkable=true][checked=false]:hover, QWidget[color='cyan'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Orange */

QWidget[color='orange']:hover, QWidget[color='orange'] QWidget[color='main']:hover, QWidget[color='orange'][checkable=true][checked=true], QWidget[color='orange'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #BC6A00;
}
QWidget[color='orange'][checkable=true][checked=false]:hover, QWidget[color='orange'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Pink */

QWidget[color='pink']:hover, QWidget[color='pink'] QWidget[color='main']:hover, QWidget[color='pink'][checkable=true][checked=true], QWidget[color='pink'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #BC0052;
}
QWidget[color='pink'][checkable=true][checked=false]:hover, QWidget[color='pink'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Lime */

QWidget[color='lime']:hover, QWidget[color='lime'] QWidget[color='main']:hover, QWidget[color='lime'][checkable=true][checked=true], QWidget[color='lime'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #52BC00;
}
QWidget[color='lime'][checkable=true][checked=false]:hover, QWidget[color='lime'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Turquoise */

QWidget[color='turquoise']:hover, QWidget[color='turquoise'] QWidget[color='main']:hover, QWidget[color='turquoise'][checkable=true][checked=true], QWidget[color='turquoise'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #00BC99;
}
QWidget[color='turquoise'][checkable=true][checked=false]:hover, QWidget[color='turquoise'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - White */

QWidget[color='white']:hover, QWidget[color='white'] QWidget[color='main']:hover, QWidget[color='white'][checkable=true][checked=true], QWidget[color='white'] QWidget[color='main'][checkable=true][checked=true] {
	border-color: #D7D7D7;
}
QWidget[color='white'][checkable=true][checked=false]:hover, QWidget[color='white'] QWidget[color='main'][checkable=true][checked=false]:hover {
	border-color: transparent;
}



/* QWidget - Bottom Border Only */
QWidget[bottom-border-only=true] {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid transparent;
}
